<h1 class="mainPageHeader"align="center">Join A Game</h1>

<!-- Form styling referred from https://www.w3schools.com/html/html_forms.asp. -->
<%= form_for @conn, "/games", fn f -> %>
      <p>Enter Game Name: <%= text_input f, :name %></p>
      <p><%= submit "Play" %></p>
<% end %>

